/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset */

body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E1E1E1;
}

header {
	z-index: 1;
}

.header-topo {
	background:	-moz-linear-gradient(top, #D7DBE0 0%, #F0F2F3 100%); /* FF3.6+ */
	background:	-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D7DBE0), color-stop(100%,#F0F2F3)); /* Chrome,Safari4+ */
	background:	-webkit-linear-gradient(top, #D7DBE0 0%,#F0F2F3 100%); /* Chrome10+,Safari5.1+ */
	background:	-o-linear-gradient(top, #D7DBE0 0%,#F0F2F3 100%); /* Opera 11.10+ */
	background:	-ms-linear-gradient(top, #D7DBE0 0%,#F0F2F3 100%); /* IE10+ */
	background:	linear-gradient(top, #D7DBE0 0%,#F0F2F3 100%); /* W3C */
	filter:		progid:DXImageTransform.Microsoft.gradient( startColorstr='#D7DBE0', endColorstr='#F0F2F3',GradientType=0 ); /* IE6-8 */
	height: 40px;
}

.header-topo-inner {
	width: 998px;
	margin: 0 auto;
	position: relative;
}

#logo-cv {
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 2;
	width: 230px;
	height: 100px;
	background-image: url(../img/logo.png);
}

.header-topo-links {
	list-style: none;
	margin: 0;
	padding: 0;
	float:left;
	font-size: 14px;
	color: #CCCCCC;
	font-weight: normal;
	margin-left: 240px;
}

.header-topo-links li {
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
	list-style: none;
}

.header-topo-links .separador{
	display: block;
	padding: 10px 0;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}

.header-topo-links li a{
	display: block;
	padding: 10px 10px;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}

.header-topo-links li a:hover{
	text-decoration: underline;
}

.header-topo-link-a {
	color: #0066FB;
}

.header-topo-link-b {
	color: #FF6600;
}

.header-topo-link-c {
	color: #5A9900;
}

.header-topo-link-d {
	color: #333333;
}

.header-topo-redes-sociais {
	float: left;
	margin-left: 90px;
}

.header-topo-redes-sociais .texto {
	font-size: 12px;
	color: #999999;
	float: left;
	padding-top: 10px;
	padding-right: 5px;
}

.header-topo-redes-sociais .links {
	float: left;
	padding-top: 5px;
}

.header-login {
	background-image: url(../img/degrade_topo_login.jpg);
	background-repeat: repeat-x;
	height: 40px;
}

.header-login-inner {
	width: 980px;
	margin: 0 auto;
}

.header-login-form {
	float: right;
	padding: 5px 10px;
}

.header-login-form input {
	border: 1px solid #CCCCCC;
	color: #999999;
	padding: 4px;
	margin: 0 5px;
	float: left;
}

.header-login-form button {
	background-color: #0A80C0;
	border: 1px solid #45A6DA;
	font-size: 12px;
	color: #FFFFFF;
	padding: 4px 10px 3px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 5px;
	float: left;
}

.header-login-esqueci {
	display: block;
	float: left;
	line-height: 26px;
}

.header-login-esqueci a {
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: middle;
}

/* BUSCADOR */

.Buscador li a{
	font-weight:normal
}

.Buscador .Campos{
	float:left;font-size:13px;font-weight:bold;font-family:arial;padding:5px 5px
}

.Buscador .input{
	width:180px;padding:5px;
}

.Buscador .select{
	width:192px;padding:5px;
}

.Buscador #Botao{
	font-size:12px;padding-top:20px
}

.Buscador .BtBusca{
	padding:3px 10px
}

/* BUSCADOR */

.BannerHome{
	background-image:url(../img/banner.jpg);background-repeat:no-repeat;width:643px;height:90px;float:left;margin:20px 0 0 20px
}

/* DESTAQUE HOME */

.DestaquesHome{
	margin-top:20px
}

.DestaquesHome li a{
	font-size:16px;font-weight:normal;font-family:arial;
}

.DestaquesHome li.ui-state-default ui-corner-top{
	color:#666666
}

.DestaqueHomeItem{
	margin: 0 7.5px;
}

.DestaqueHomeItem .imagem{
	background-image:url(../img/carro.jpg);background-repeat:no-repeat;width:163px;height:109px;
}

.DestaqueHomeItem .LinkFotoDestaque{
	display:block;width:163px;height:109px;
}

.DestaqueHomeItem .DadosDestaque{
	background-color:#FFFFFF;border:1px solid #E9E9E9;width:143px;height:75px;color:#0A6190;font-size:12px;padding:10px;line-height:18px
}

.DestaqueHomeItem .ValorDestaque{
	font-weight:bold;color:#FF0000;
}

/* DESTAQUE HOME */

/* CONTEUDO */

section{
	width:920px;margin:auto;background-color:#F5F5F5;border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;padding:20px;
}

.CaixaCadastro{
	border:1px solid #E9E9E9;background-color:#FFFFFF;padding:20px;width:215px;line-height:22px;font-size:12px;font-weight:bold;color:#0A6190;float:left
}

.CaixaCadastro h1{
	font-size:16px;color:#0A6190;border-bottom:1px solid #E1E1E1;margin:0 0 10px 0;padding:0 0 5px 0;font-weight:normal
}

.CaixaCadastro .input{
	border:1px solid #e1e1e1;padding:6px;color:#666666;width:201px
}

.CaixaCadastro .BtCadastrar{
	background:				-moz-linear-gradient(top, #f5f5f5 0%, #E1E1E1 100%); /* FF3.6+ */
	background:				-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#E1E1E1)); /* Chrome,Safari4+ */
	background:				-webkit-linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* Chrome10+,Safari5.1+ */
	background:				-o-linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* Opera 11.10+ */
	background:				-ms-linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* IE10+ */
	background:				linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* W3C */
	filter:					progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#E1E1E1',GradientType=0 ); /* IE6-8 */
	
	border:1px solid #E1E1E1;font-size:13px;color:#999999;text-shadow:1px 1px 1px #ffffff;padding:10px 25px;float:right;margin-top:15px
}

/* CONTEUDO */

/* FOOTER */

footer{
	background-image:url(../img/fundo_rodape.jpg);width:960px;margin:0 auto 20px auto
}

footer .divRodape{
	float:left;width:255px;padding:30px;border-left:1px solid #333333
}

.MenuRodape{
	margin:0;padding:0
}

.MenuRodape li{
	margin:0;list-style:none;padding:6px 0;background-image:url(../img/linha_menu_rodape.jpg);background-position:bottom;background-repeat:repeat-x;
}

.MenuRodape li a{
	color:#666666;font-size:11px;font-family:verdana;font-weight:normal;text-decoration:none;
}

.MenuRodape li a:hover{
	text-decoration:underline
}

.divRodape h1{
	margin:0;padding:0;font-size:16px;color:#FFFFFF;font-weight:normal
}

.NoticiasRodape{
	margin:0;padding:0;font-family:arial
}

.NoticiasRodape li{
	margin:0;list-style:none;padding:15px 0 25px 0;background-image:url(../img/linha_menu_rodape.jpg);background-position:bottom;background-repeat:repeat-x;
}

.NoticiasRodape li a{
	color:#ffffff;font-size:11px;font-family:verdana;font-weight:normal;text-decoration:none;
}

.NoticiasRodape li a:hover{
	text-decoration:underline
}

.NoticiasRodape .ImgNoticiaRodape{
	width:35px;height:30px;float:left;margin-right:10px;background-color:#FFFFFF
}

/* FOOTER */